.home {
	background-image: url(images/desk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
}

blockquote {
	display: block;
	margin-top: 30%;
	margin-bottom: 1em;
	color: white;
}

.about {
	background-color: #CECDAA;
	color: #363B3E;
}

.education {
	background-color: #363B3E;
	color: white;
}

.work-experience {
	background-color: #363B3E;
	color: white;
}

.glyphicon.glyphicon-heart {
	color: #ff0000;
}

.My-Skills {
	background-color: #CECDAA;
	color: #363B3E;
}

.portfolio {
	padding-top: 30px;
	background-color: #363B3E;
	color: white;
}
.contact {
	padding-top: 30px;
	background-color: #CECDAA;
	color: #363B3E;
}

footer {
	position: fixed-bottom;
	background-color: #363B3F;
}

ul {
  list-style-type: none;
}
